In [2]:
str1=[1,2,3]
str2=['one','two','three']

for z in zip(str1, str2):
    print(z)

(1, 'one')
(2, 'two')
(3, 'three')

In [12]:
drinks=['coffee','tea','me']
for i,d in enumerate(drinks, start=1):
    print(f'{d},{i}')

coffee,1
tea,2
me,3

In [8]:
cities=['台北','台中','台南']
populations=[100,200,300]

data=zip(cities,populations)

for c,p in data:
    print(f'{c}{p}萬人')

台北100萬人
台中200萬人
台南300萬人

In [27]:
cities=['台北','台中','台南']
populations=[100,200,300]

data=zip(cities, populations)
data

In [28]:
datas=list(data)
datas

[('台北', 100), ('台中', 200), ('台南', 300)]

In [32]:
drinks=['coffee', 'tea', 'me']

drinks_enu=enumerate(drinks)
drinks_enu

In [33]:
list(drinks_enu)

[(0, 'coffee'), (1, 'tea'), (2, 'me')]

In [55]:
squares=[n*n for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
#字串成字典
str3=['a','b','c']
str4=[1,2,3]

data3=zip(str3,str4)
data3

data4=dict(data3)
data4

{'a': 1, 'b': 2, 'c': 3}

In [65]:
number1=[1,2,3,4]
number2=[2,3,4,5]
number3=[3,4,5,6]

number4=set(number1+number2+number3)
number4

{1, 2, 3, 4, 5, 6}

In [63]:
list(number4)

[1, 2, 3, 4, 5, 6]

In [67]:
#設置撲克牌字串
pockers=[str(n) for n in range(1,11)]+['J','Q','K']
pockers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K']

In [68]:
import random
random.shuffle(pockers)
pockers

['J', '6', '5', '10', '7', '1', 'K', '8', '2', '3', 'Q', '4', '9']

In [70]:
import random
random.sample(pockers,5)

['10', '8', '9', '4', 'K']

In [75]:
import random
random.seed(5)
for i in range(5):
    print(random.randint(1,100))

80
33
95
46
89

In [76]:
array1=[-9,-1,0,-2,2,8,5]
sorted_array1=sorted(array1)
sorted_array1

[-9, -2, -1, 0, 2, 5, 8]

In [77]:
sorted_array2=sorted(array1, key=lambda x:(x<0,abs(x)))
sorted_array2

[0, 2, 5, 8, -1, -2, -9]

In [140]:
dict1={'Peter':10, 'Nafe': 20, 'Salt':40}
dict1

{'Peter': 10, 'Nafe': 20, 'Salt': 40}

In [130]:
sorted(dict1.values())

[2, 10, 40]

In [142]:
dict2={k:v for k,v in sorted(dict1.items(), key=lambda x:x[1])}
dict2

{'Peter': 10, 'Nafe': 20, 'Salt': 40}

In [144]:
import random
dict3={i:random.randint(1,10) for i in ['a','b','c']}
dict3

{'a': 9, 'b': 1, 'c': 8}

In [147]:
list1=[1,3,9,5,2,4]

list2=[x*x for x in list1]
list2

[1, 9, 81, 25, 4, 16]

In [151]:
list3=[x for x in list1 if x%2==1]
list3

[1, 3, 9, 5]

In [154]:
num1=5
num2=10

sum=num1+num2
f'sum={sum}'

'sum=15'

In [159]:
list_even={i for i in range(2,100,2)}
list_even

{2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98}

In [160]:
#Q4找質數prime 
#訂出一個範圍
a=37

flag=False
for i in range(2,a):
    if a%i==0:
        flag=Ture
        break
if flag:
    print('合數')
else:
    print('質數')

質數

In [161]:
#遞迴
n=5
sum=1
for i in range(1,n+1):
    sum*=i
sum

120

In [163]:
def jie(num):
    if num==1:
        return 1
    else:
        return num*jie(num-1)
jie(5)

120

In [166]:
#Q6
r=float(input('半徑'))
c=2*3.14*r
c

半徑2

12.56

In [170]:
#Q8
import math
a=float(input('a'))
b=float(input('b'))

c2=a**2 + b**2
math.sqrt(c2)

a3
b4

5.0

In [175]:
#Q9
a=int(input('a'))
b=int(input('b'))
c=int(input('c'))

list=[a,b,c]
list1=sorted(list)
f'{list1[0]},{list1[1]},{list1[2]}'

a4
b5
c6

'4,5,6'

In [181]:
#Q10
def prime(n):
    flag=True
    for i in range(2,n):
        if n%i==0:
            flag=False
            break
    return flag
            

a=int(input('a'))
b=int(input('b'))

list=[]
for i in range(a,b+1):
    if prime(i):
        list.append(i)
list

a2
b99

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [188]:
for i in range(1,10):
    print()
    for j in range(1,i+1):
        print(f'{i}*{j}={i*j}', end=' ')

1*1=1
2*1=2 2*2=4
3*1=3 3*2=6 3*3=9
4*1=4 4*2=8 4*3=12 4*4=16
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [190]:
#xxx
for i in range(100, 1000):
    a=i%10
    b=(i%100)//10
    c=i//100
    if a**3+b**3+c**3 == i:
        print()

153
370
371
407

In [189]:
n=567
a=n%10
b=(n%100)//10
c=n//100
a,b,c

(7, 6, 5)

In [202]:
a=input('num4')
a=a[::-1]
a

num41234

'4321'

In [205]:
b=input('abc')
result=b.isalpha()

if result:
    print(f'{b} is true')
else:
    print(f'{b} is not')

abc1
1 is not

In [211]:
for i in range(1,100):
    sum=0
    for j in range(1,i):
        if i%j==0:
            sum+=j
    if sum==i:
        print(f'{i}是完數')

6是完數
28是完數

In [212]:
import datetime

year, month, day=map(int, input().split(" "))

nowa=datetime.datetime(year, 1, 1)
now=datetime.datetime(year, month, day)

(now-nowa).days+1

2002 1 19

19

In [213]:
def fib(n):
    if n==1 or n==2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
    
fib(6)

8

In [217]:
n=6

fibs=[1,1]
for i in range(2, n+1):
    fibs.append(fibs[i-1]+fibs[i-2])

print(fibs)

[1, 1, 2, 3, 5, 8, 13]

In [218]:
string = input('something')

char=0
num=0
space=0
other=0

for i in string:
    if i.isalpha():
        char+=1
    elif i.isalnum():
        num+=1
    elif i.isspace():
        space+=1
    else:
        other+=1
        
f'char{char}, num{num}, space{space},other{other}'

somethingin52

'char2, num2, space0,other0'

In [219]:
n=100
count=0
list=[]

while count<10:
    if count ==0:
        list.append(n)
        n/=2
        count+=1
    else:
        list.append(2*n)
        n/=2
        count+=1
list

[100, 100.0, 50.0, 25.0, 12.5, 6.25, 3.125, 1.5625, 0.78125, 0.390625]

In [221]:
import math

sum=0
for i in range(1,21):
    sum+=math.factorial(i)
sum

2561327494111820313

In [222]:
def func(n):
    if n==1:
        return 10
    else:
        return func(n-1)+2
    
func(5)

18

In [224]:
a=input('num')

b=a[::-1]

if a==b:
    print('Y')
else:
    print('N')

num12321
Y

In [227]:
list=[1,2,3]
list.reverse()
list

[3, 2, 1]

In [228]:
list=[1,2,3]
list[::-1]

[3, 2, 1]

In [245]:
a=input().split()
a

2 3

['2', '3']

In [250]:
b=input().split()
print(b)
c=[int(i) for i in b]
c.sort()
c

34 4
['34', '4']

[4, 34]

In [252]:
list7=[1,3,20,4]

n=int(input('num'))
list7.append(n)
list7.sort()
list7

num5

[1, 3, 4, 5, 20]

In [263]:
import random

random.randrange(1,100,2)

69

In [ ]:
target=99

times=7

print('start')
while times !=0:
    num=int(input('number'))
    if num>target:
        print('too big')
        continue
    elif num<target:
        print('too small')
        continue
    else:
        print('great')

if times == 0:
    print('bang')

start
number98
too small
number1
too small
number99
great

In [2]:
print('l')

l

In [7]:
tos=('ab','cd','ef')
tos2=['ab','cd','ef']
dict(tos)

tos3=(['a','b'], ['c','d'], ['e','f'])
tos4=[('a','b'), ('c','d'), ('e','f')]
dict(tos3)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [9]:
word='letters'
dict5=({letter : word.count(letter) for letter in set(word)})
dict5

{'l': 1, 's': 1, 't': 2, 'e': 2, 'r': 1}

In [17]:
drinks={'a':{'1','2'}, 'b': {'1','3'}, 'c':{'2', '3'}}
for name, contents in drinks.items():
    if contents & {'1', '2'}:
        print(name)

a
b
c

In [18]:
drinks={'a':{'1','2'}, 'b': {'1','3'}, 'c':{'2', '3'}}
for name, contents in drinks.items():
    if  '2' in contents:
        print(name)

a
c

In [19]:
drinks={'a':{1, 2}, 'b': {1, 3}, 'c':{2, 3}}
for name, contents in drinks.items():
    if contents & {1, 2}:
        print(name)

a
b
c

In [21]:
def buggy(arg, result=[]):
    result.append(arg)
    print(result)
buggy('a')
buggy('b')

['a']
['a', 'b']

In [22]:
def buggy(arg):
    result=[]
    result.append(arg)
    return result
buggy('a')
buggy('b')

['b']

In [24]:
def buggy(arg, result=None):
    if result is None:
        result=[]
    result.append(arg)
    return result
buggy('a')
buggy('b')

['b']

In [25]:
def edit(words, func):
    for word in words:
        print(func(word))

In [26]:
stairs=['one', 'two', 'three']
def enliven(word):
    return word.capitalize() + '!'

edit(stairs, lambda word:word.capitalize() +'!')

One!
Two!
Three!

In [32]:
def mrange(first=0, last=10, step=1):
    num=first
    while num<last:
        yield num
        num+=step
rmrange=mrange(1,5)

In [33]:
for x in rmrange:
    print(x)

1
2
3
4

In [34]:
obj1= (pair for pair in zip(['a', 'b'], [1,2]))
obj1

In [35]:
for thing in obj1:
    print(thing)

('a', 1)
('b', 2)

In [36]:
from datetime import date
halloween=date(2019,10,31)

halloween

datetime.date(2019, 10, 31)

In [38]:
from datetime import date, timedelta
now=date.today()
one_day=timedelta(days=1)
tomorrow=now+one_day
tomorrow

datetime.date(2023, 8, 18)

In [40]:
now+18*one_day

datetime.date(2023, 9, 4)

In [41]:
now+18

TypeError: unsupported operand type(s) for +: 'datetime.date' and 'int'

In [42]:
from datetime import time
noon= time(12, 0, 0)
noon

datetime.time(12, 0)

In [43]:
from datetime import datetime
some_day=datetime(2019, 1, 2, 3, 4, 5, 6)
some_day

datetime.datetime(2019, 1, 2, 3, 4, 5, 6)

In [44]:
some_day.isoformat()

'2019-01-02T03:04:05.000006'

In [45]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2023, 8, 17, 16, 11, 8, 611763)

In [51]:
def document(func):
    def new_func(*args, **kwargs):
        print(func.__name__)
        print(args)
        print(kwargs)
        result= func(*args, **kwargs)
        print(result)
        return result
    return new_func

In [48]:
@document
def add_int(a,b):
    return a+b

add_int(3,5)

add_int
(3, 5)
{}
8

8

In [49]:
def square(func):
    def new_func(*args, **kwargs):
        result= func(*args, **kwargs)
        return result*result
    return new_func

In [50]:
@square
@document
def add_int(a,b):
    return a+b

add_int(3,5)

add_int
(3, 5)
{}
8

64

In [52]:
@document
@square
def add_int(a,b):
    return a+b

add_int(3,5)

new_func
(3, 5)
{}
64

64

In [53]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [55]:
def flatten(lol):
    for item in lol:
        yield item

lol=[1,2,[3,4,5]]
flatten(lol)

In [56]:
list(flatten(lol))

[1, 2, [3, 4, 5]]

In [58]:
def flatten(lol):
    for item in lol:
        if isinstance(item, list):
            for subitem in flatten(item):
                yield subitem
            else:
                yield item

lol=[1,2,[3,4,5]]
list(flatten(lol))

[[3, 4, 5]]

In [59]:
def flatten(lol):
    for item in lol:
        if isinstance(item, list):
            yield from flatten(item)
        else:
            yield item

lol=[1,2,[3,4,5]]
list(flatten(lol))

[1, 2, 3, 4, 5]

In [60]:
try:
    raise OopsException('panic')
except OopsException as exc:
    print(exc)
    
panic

NameError: name 'OopsException' is not defined

In [67]:
#輸入所有數字，直到q為止。印出

user_input = input('input number')

total=0
count=0

while user_input!='q':
    num=float(user_input)
    total+=num
    count+=1
    user_input=input('input number')

print(total)

input numberq
0

In [71]:
def bmi(weight, height):
    BMI=weight/height**2
    if BMI <=18:
        categoty='1'
    elif BMI <=25:
        categoty='2'
    elif BMI <=30:
        categoty='3'
    else:
        categoty='4'
    print(f'category: {categoty}')   
    return BMI

bmi(45,155)

category: 1

0.0018730489073881373

In [3]:
class Cat:
    def __init__(self, name, age, color):
        self.name=name
        self.age=age
        self.color=color
    
    def speak(self):
        print('喵'*self.age)

    def think(self, content):
        print(f'小貓{self.name}在思考{content}')
    
cat1=Cat('Jojo', 1, 'yellow')
cat1.speak()
cat1.think('撕紙箱')
cat1

喵
小貓Jojo在思考撕紙箱

In [7]:
class Student:
    def __init__(self, name, student_id):
        self.name=name
        self.student_id=student_id
        self.grades={'國':0, '英':0, '數':0}
        
    def set_grade(self, course, grade):
        if course in self.grades:
            self.grades[course]=grade
    
    def print_grade(self):
        print(f'學生{self.name}(學號:{self.student_id})成績為')
        for course in self.grades:
            print(f'{course}:{self.grades[course]}分')
        
chen=Student('陳','10010')
chen.set_grade('數',95)
chen.name
chen.print_grade()

學生陳(學號:10010)成績為
國:0分
英:0分
數:95分

In [1]:
print('l')

l

In [5]:
msg='c a b d'
message=msg.split(' ')
print(message)
result=''.join(message)
result

['c', 'a', 'b', 'd']

'cabd'

In [6]:
#玩遊戲!!

In [9]:
#1奇偶數辨別

num=int(input('the num'))
if num%2==0:
    print('偶')
else:
    print('奇')

the num3
奇

In [24]:
#2填字遊戲
#使用者輸入任何字，它可以是名詞、形容詞、動詞、代名詞等。程式得到文字後，可自行排列，組成成一個故事。
import random

array8=[]
put=input('input something')
while put !='q':
    array8.append(put)
    put=input('input something')
','.join(random.sample(array8,2))

input something1
input something3
input somethingq

'1,3'

In [26]:
#計算字數
#使用者輸入一段文字，程式統計字數。
number=input('input something')
f'{len(number)}個字'

input something1435

'4個字'

In [42]:
#1：
num1=int(input('num1'))
num2=int(input('num2'))
sum=num1+num2
sum

num12
num24

6

In [64]:
#2階層 1*1 2*1 3*2*1 5*4*3*2*1
def inner(num):
    result=1
    while num!=1:
        result*=num
        num-=1
    return result


inner(3)

6

In [72]:
#3
import math
r=float(input('r num'))
area=round(r*r*math.pi,2)
area

r num3

28.27

In [83]:
def is_prime(num):
    for i in range(2, num):
        if num %i ==0:
            return False
    return True
        
is_prime(9)

False

In [85]:
#5
def sums(num):
    result=1
    while num>1:
        result+=num**2
        num-=1
    return result

sums(5)

55

In [101]:
#6
a=input('input something')
sum=0
while a!='q':
    sum+=int(a)
    a=input('input something')
sum

input something2
input something3
input something4
input somethingq

9

In [102]:
#7
begin=int(input('begin'))
end=int(input('end'))
array=[]
for i in range(begin, end+1):
    if i %2==0:
        array.append(i)
array

begin1
end10

[2, 4, 6, 8, 10]

In [112]:
#8
a=input('input something')
array=[]
while a !='q':
    array.append(a)
    a=input('input something')
if "8" or "9" in array:
    array.remove("8")
array

KeyboardInterrupt: Interrupted by user

In [115]:
lista=[10,10,20,30]
listb=set(lista)
list(listb)

[10, 20, 30]

In [125]:
arr = [12, 3, 4, 15]

# sum() is an inbuilt function in python that adds
# all the elements in list,set and tuples and returns
# the value
sum(arr)

TypeError: 'int' object is not callable

In [126]:
list1=[2,3,4,5]
list2=[3]
for i in list2:
    list1.remove(i)
list1

[2, 4, 5]

In [128]:
lista=[2,1,4,6,3]
sorted(lista, reverse=True)

[6, 4, 3, 2, 1]

In [135]:
student={'1':90, '2':80, '3':60}
sorted(student.values())

[60, 80, 90]

In [142]:
list=[]
for i in range(2,100):
    if 100 % i ==0:
        continue
    else:
        list.append(i)
list

[3,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]